@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="https://softwire.sharepoint.com/sales/Collateral/Sales%20Collateral/Photos%20and%20Videos/Headshots/Employee%20Headshots/Current%20Employees/Ben%20Fernandes/square%20headshot.jpg"/>
</div>