@model Bookish.Models.Request.CreateMemberEntryModel

@{
    Layout = null;
}

<div class="create-new-member">
    <form method = "post" action="/members/create">
        <fieldset>
            <legend>Create a New Member</legend>
            <label for="name">Member</label><br/>
            <input type="text" id="name" name="name" alt="user id input box"/><br/>
            <input type="submit"/>
        </fieldset>
    </form>
</div>



