@model Bookish.Models.MembersViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@{
    <h2>All Members</h2>
    foreach (var member in @Model.Members)
    {
        <p>ID : @member.id </p>
        <p>Name : @member.name </p>
        <br/>
    }
    
}

