@model Bookish.Models.MembersViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Members";
}

<table>
    @{
        foreach (var member in @Model.Members)
        {
            <tr>
                <td>ID : @member.id </td>
                <td>Name : @member.name </td>
            </tr>
        }
    }
</table>


