@model Bookish.Models.Request.CreateBookEntryModel

@{
    Layout = "_Books";
}

<div class="create-new-book">
    <form method = "post" class="form-inline" action="/books/create">
        <fieldset>
            <h2>Create a book</h2>
            <div class="form-group">
                <label for="title">Title</label><br/>
                <input class="form-control mx-2" type="text" id="title" name="title"/><br/>
                <label for="year">Year</label><br/>
                <input class="form-control mx-2" type="text" id="year" name="year"/><br/>
                <label for="title">Author</label><br/>
                <input class="form-control mx-2" type="text" id="author" name="author"/><br/>
                <label for="genre">Genre</label><br/>
                <input class="form-control mx-2" type="text" id="genre" name="genre"/><br/>
            </div>
            <input class="btn btn-secondary" type="submit"/>
        </fieldset>
    </form>
</div>