@model Bookish.Models.Request.CreateBookEntryModel

@{
    Layout = "_Books";
}

<div class="create-new-book">
    <form method = "post" action="/books/create">
        <fieldset>
            <legend>Add a new book</legend>
            <label for="Title">Title</label><br/>
            <input type="text" id="Title" name="Title" alt="user id input box"/><br/>
            <input type="submit"/>
        </fieldset>
    </form>
</div>