@model Bookish.Models.BooksViewModel

@{
    ViewData["Title"] = "Home Page";
}

@{
    <h2>All The Books!:</h2>
    foreach (var book in @Model.Books)
    {
        <p>ID : @book.id</p>
        <p>Title : @book.Title</p>
        <br/>
    }
}





