@model Bookish.Models.BooksViewModel

@{
    ViewData["Title"] = "Existing Books";
}


<h2>All The Books!:</h2>
<table>
    @{
        foreach (var book in @Model.Books)
        {
            <p>ID : @book.id</p>
            <p>Title : @book.Title</p>
            <br/>
        }
    }
</table>








