@model Bookish.Models.BooksViewModel

@{
    ViewData["Title"] = "Existing Books";
    Layout = "_Books";
}

@{
    <h4>All The Books</h4>
    foreach (var book in @Model.Books)
    {
        <p>ID : @book.id</p>
        <p>Title : @book.Title</p>
        <br/>
    }
}





