@model Bookish.Models.InventoryViewModel

@{
    Layout = "_Inventory";
}

<table class="membersTable">
    @{
        foreach (var inventoryModel in @Model.Inventory)
        {
            <tr>
                <td>Title : @inventoryModel.Book.Title </td>
                <td>Total Copies : @inventoryModel.Copies </td>
                <td>Available Copies : @inventoryModel.AvailableCopies </td>
            </tr>
        }
    }
</table>

