@model Bookish.Models.BooksViewModel

@{
    Layout = "_Inventory";
}

@{
    
    foreach (var book in @Model.Books)
    {
        <p>ID : @book.id</p>
        <p>Title : @book.Title</p>
        <br/>
    }
}

